{% extends "mail/layout.html" %}

{% block body %}

    
<div class="d-flex justify-content-center mt-3">
     <h2 style="color: #4F5251; font-family: sans-serif;">Register</h2>
</div>



{% if message %}

    <div style="width: 550px; margin: 10px auto 10px;">
        <div class="alert alert-danger round-custom" role="alert">
             {{message}}
        </div>
    </div>
{% endif %}

<div style="width: 550px; margin: 10px auto 10px;">

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    

    <div class="form-floating mb-3">
      <input type="text" class="form-control round-custom" id="floatingInput" name="email" placeholder="Email">
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control round-custom" name="password" id="floatingInput2" name="password" placeholder="Password">
      <label for="floatingInput2">Password</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control round-custom" name="confirmation" id="floatingInput3" name="password" placeholder="Password">
      <label for="floatingInput3">Confirm Password</label>
    </div>
    

        <input class="btn btn-outline-primary mb-3 send-btn-round p-2" type="submit" value="Register">

</form>

Already have an account? <a href="{% url 'login' %}">Sign in here.</a>

</div>













{% endblock %}